.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}
.col, .col-2 {
    border: 2px solid black;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}