* {
    box-sizing: border-box;
}

h1 {
    background-image: url('images/pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

figure {
    margin-left: auto;
}